USE [master]
GO
/****** Object:  Database [CSDL_QLCAFE]    Script Date: 5/13/2018 4:49:36 PM ******/
CREATE DATABASE [CSDL_QLCAFE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDL_QLCAFE', FILENAME = N'D:\StudyDocuments\TDMU_4Years\Nam3_HK2\QuanLyDuAnCNTT\CSDL_QLCAFE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSDL_QLCAFE_log', FILENAME = N'D:\StudyDocuments\TDMU_4Years\Nam3_HK2\QuanLyDuAnCNTT\CSDL_QLCAFE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDL_QLCAFE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDL_QLCAFE]
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteAccountAdmin]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DeleteAccountAdmin] @ID INT
AS DELETE FROM TBL_TAIKHOAN WHERE @ID = ID
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteDayWork]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DeleteDayWork] @ID INT
AS DELETE FROM TBL_CHAMCONG WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteDrink]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DeleteDrink] @ID INT
AS DELETE FROM TBL_THUCUONG WHERE @ID = ID
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteStaff]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--delete nhan vien
CREATE PROCEDURE [dbo].[USP_DeleteStaff] @ID INT
AS DELETE FROM TBL_NHANVIEN WHERE @ID = ID
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountAdminsList]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAccountAdminsList]
AS SELECT * FROM TBL_TAIKHOAN
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAStaffWorkScheduleList]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAStaffWorkScheduleList] @ID INT 
AS SELECT TBL_CHAMCONG.ID AS ID, TBL_NHANVIEN.ID AS IDNHANVIEN, HOTEN, NGAYLAM 
FROM TBL_NHANVIEN, TBL_CHAMCONG 
WHERE TBL_NHANVIEN.ID = TBL_CHAMCONG.IDNHANVIEN AND @ID = TBL_NHANVIEN.ID
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDinksList]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetDinksList]
AS select * from TBL_THUCUONG; 
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDrink]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GetDrink] @id int
AS select * from TBL_THUCUONG where @id = ID;
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDrinksBill]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetDrinksBill] @IDBILL INT
AS
SELECT TBL_THUCUONG.TENTHUCUONG, TBL_THUCUONG.DONGIA, TBL_CTHOADON.SOLUONG
FROM TBL_HOADON, TBL_CTHOADON, TBL_THUCUONG
WHERE TBL_HOADON.ID = TBL_CTHOADON.IDHOADON AND TBL_THUCUONG.ID = TBL_CTHOADON.IDSANPHAM AND TBL_HOADON.ID = @IDBILL

GO
/****** Object:  StoredProcedure [dbo].[USP_GetLatestBill]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetLatestBill]
AS SELECT TOP 1 * FROM TBL_HOADON
ORDER BY ID DESC
GO
/****** Object:  StoredProcedure [dbo].[USP_GetPriceOfDrink]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetPriceOfDrink] @id int
AS select * from TBL_THUCUONG where @id = ID;
GO
/****** Object:  StoredProcedure [dbo].[USP_GetSoldDrinksList]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetSoldDrinksList] @START DATETIME, @END DATETIME
AS
SELECT TU.ID, TU.TENTHUCUONG, TU.DONGIA, COUNT(SOLUONG) AS SOLUONG 
FROM TBL_THUCUONG AS TU, TBL_CTHOADON AS CTHD, TBL_HOADON AS HD
WHERE TU.ID = CTHD.IDSANPHAM AND HD.ID = CTHD.IDHOADON AND HD.NGAYLAP BETWEEN @START AND DATEADD (day, 1, @END)
GROUP BY TU.ID, TU.TENTHUCUONG, TU.DONGIA
GO
/****** Object:  StoredProcedure [dbo].[USP_GetStaffsList]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetStaffsList]
AS select * from TBL_NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[USP_GetWorkDayStaffList]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetWorkDayStaffList] @START DATETIME, @END DATETIME
AS
SELECT NV.ID, NV.HOTEN, COUNT(CC.NGAYLAM) AS SONGAYLAM, COUNT(CC.NGAYLAM)*NV.HESOLUONG AS LUONG
FROM TBL_NHANVIEN AS NV, TBL_CHAMCONG AS CC 
WHERE NV.ID = CC.IDNHANVIEN AND CC.NGAYLAM BETWEEN @START AND DATEADD (day, 1, @END)
GROUP BY NV.ID, NV.HOTEN, NV.HESOLUONG

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertAccountAdmin]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertAccountAdmin] @username VARCHAR(50), @password VARCHAR(500)
AS 
BEGIN
	DECLARE @CNT INT= (SELECT COUNT(*) FROM TBL_TAIKHOAN WHERE @username = TENDANGNHAP);
	IF (@CNT=0) INSERT INTO TBL_TAIKHOAN VALUES (@username, @password);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertDayWork]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertDayWork] @IDOFSTAFF INT, @DAYWORK DATETIME
AS
BEGIN
	DECLARE @CNT INT= (SELECT COUNT(*) FROM TBL_NHANVIEN, TBL_CHAMCONG 
						WHERE TBL_NHANVIEN.ID = TBL_CHAMCONG.IDNHANVIEN AND @IDOFSTAFF = TBL_NHANVIEN.ID AND @DAYWORK = FORMAT(TBL_CHAMCONG.NGAYLAM, 'MM/dd/yyyy'));
	IF (@CNT=0) INSERT INTO TBL_CHAMCONG VALUES (@IDOFSTAFF, @DAYWORK);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertDrink]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertDrink] @name NVARCHAR(50), @unitPrice INT
AS 
BEGIN
	DECLARE @CNT INT= (SELECT COUNT(*) FROM TBL_THUCUONG WHERE @name = TENTHUCUONG AND @unitPrice = DONGIA);
	IF (@CNT=0) INSERT INTO TBL_THUCUONG VALUES (@name, @unitPrice);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertDrinkToBill]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertDrinkToBill] @IDBILL INT, @IDDRINK INT, @NUM INT
AS INSERT INTO TBL_CTHOADON VALUES (@IDBILL, @IDDRINK, @NUM)
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertNewEmptyBill]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertNewEmptyBill]
AS INSERT INTO TBL_HOADON VALUES (GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertStaff]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertStaff] @name NVARCHAR(50), @tel VARCHAR(11), @address NVARCHAR(100), @unitSalary INT
AS 
BEGIN
	DECLARE @CNT INT= (SELECT COUNT(*) FROM TBL_NHANVIEN WHERE @name = HOTEN AND @tel = SDT AND @address = DIACHI AND @unitSalary = HESOLUONG);
	IF (@CNT=0) INSERT INTO TBL_NHANVIEN VALUES (@name, @tel, @address, @unitSalary);
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_Login] @USERNAME VARCHAR(50), @PASSWORD VARCHAR(500)
AS SELECT * from TBL_TAIKHOAN WHERE @USERNAME = TENDANGNHAP AND @PASSWORD = MATKHAU
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccountAdmin]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UpdateAccountAdmin] @ID INT, @username VARCHAR(50), @password VARCHAR(500)
AS UPDATE TBL_TAIKHOAN SET TENDANGNHAP = @username, MATKHAU = @password WHERE ID = @ID;
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateDrink]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UpdateDrink] @ID INT, @NAME NVARCHAR(50), @UNITPRICE INT
AS UPDATE TBL_THUCUONG SET TENTHUCUONG = @NAME, DONGIA = @UNITPRICE WHERE ID = @ID;
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateStaff]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UpdateStaff] @ID INT, @name NVARCHAR(50), @tel VARCHAR(11), @address NVARCHAR(100), @unitSalary INT
AS UPDATE TBL_NHANVIEN SET HOTEN = @name, SDT = @tel, DIACHI = @address, HESOLUONG = @unitSalary WHERE ID = @ID;
GO
/****** Object:  Table [dbo].[TBL_CHAMCONG]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHAMCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[NGAYLAM] [datetime] NOT NULL,
 CONSTRAINT [PK_TLB_LUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CTHOADON]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CTHOADON](
	[IDHOADON] [int] NOT NULL,
	[IDSANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CTHOADON_1] PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC,
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_HOADON]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
 CONSTRAINT [PK_TBL_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[HESOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_TBL_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TAIKHOAN]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](500) NOT NULL,
 CONSTRAINT [PK_TBL_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_THUCUONG]    Script Date: 5/13/2018 4:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THUCUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUCUONG] [nvarchar](50) NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_TBL_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TBL_CHAMCONG] ON 

INSERT [dbo].[TBL_CHAMCONG] ([ID], [IDNHANVIEN], [NGAYLAM]) VALUES (9, 4, CAST(0x0000A8DE00000000 AS DateTime))
INSERT [dbo].[TBL_CHAMCONG] ([ID], [IDNHANVIEN], [NGAYLAM]) VALUES (10, 4, CAST(0x0000A8DF00000000 AS DateTime))
INSERT [dbo].[TBL_CHAMCONG] ([ID], [IDNHANVIEN], [NGAYLAM]) VALUES (11, 4, CAST(0x0000A8E000000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_CHAMCONG] OFF
INSERT [dbo].[TBL_CTHOADON] ([IDHOADON], [IDSANPHAM], [SOLUONG]) VALUES (12, 2, 28000)
INSERT [dbo].[TBL_CTHOADON] ([IDHOADON], [IDSANPHAM], [SOLUONG]) VALUES (12, 4, 25000)
INSERT [dbo].[TBL_CTHOADON] ([IDHOADON], [IDSANPHAM], [SOLUONG]) VALUES (12, 11, 39000)
SET IDENTITY_INSERT [dbo].[TBL_HOADON] ON 

INSERT [dbo].[TBL_HOADON] ([ID], [NGAYLAP]) VALUES (12, CAST(0x0000A8DF00C791EA AS DateTime))
INSERT [dbo].[TBL_HOADON] ([ID], [NGAYLAP]) VALUES (13, CAST(0x0000A8DF00C8CD1F AS DateTime))
INSERT [dbo].[TBL_HOADON] ([ID], [NGAYLAP]) VALUES (14, CAST(0x0000A8DF00CF49F1 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_HOADON] OFF
SET IDENTITY_INSERT [dbo].[TBL_NHANVIEN] ON 

INSERT [dbo].[TBL_NHANVIEN] ([ID], [HOTEN], [SDT], [DIACHI], [HESOLUONG]) VALUES (4, N'Nguyễn Văn A', N'0123456789', N'1/95d Nguyễn Bỉnh Khiêm', 150000)
INSERT [dbo].[TBL_NHANVIEN] ([ID], [HOTEN], [SDT], [DIACHI], [HESOLUONG]) VALUES (5, N'Nguyễn Văn B', N'0969961235', N'12 Nguyễn Công Trứ', 170000)
INSERT [dbo].[TBL_NHANVIEN] ([ID], [HOTEN], [SDT], [DIACHI], [HESOLUONG]) VALUES (6, N'Nguyễn Văn C', N'0321654987', N'3 Trần Đại Nghĩa', 200000)
SET IDENTITY_INSERT [dbo].[TBL_NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[TBL_TAIKHOAN] ON 

INSERT [dbo].[TBL_TAIKHOAN] ([ID], [TENDANGNHAP], [MATKHAU]) VALUES (3, N'admin2', N'37122481812811963631412001801901341221542')
INSERT [dbo].[TBL_TAIKHOAN] ([ID], [TENDANGNHAP], [MATKHAU]) VALUES (6, N'admin', N'33354741122871651676713774147412831195')
SET IDENTITY_INSERT [dbo].[TBL_TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[TBL_THUCUONG] ON 

INSERT [dbo].[TBL_THUCUONG] ([ID], [TENTHUCUONG], [DONGIA]) VALUES (2, N'Coffe w milk', 28000)
INSERT [dbo].[TBL_THUCUONG] ([ID], [TENTHUCUONG], [DONGIA]) VALUES (4, N'Americano', 25000)
INSERT [dbo].[TBL_THUCUONG] ([ID], [TENTHUCUONG], [DONGIA]) VALUES (5, N'Cappuccino', 30000)
SET IDENTITY_INSERT [dbo].[TBL_THUCUONG] OFF
ALTER TABLE [dbo].[TBL_CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTHOADON_TBL_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[TBL_THUCUONG] ([ID])
GO
ALTER TABLE [dbo].[TBL_CTHOADON] CHECK CONSTRAINT [FK_TBL_CTHOADON_TBL_SANPHAM]
GO
USE [master]
GO
