USE [CSDL_QLCAFE]
GO
/****** Object:  Table [dbo].[TBL_CTHOADON]    Script Date: 5/11/2018 11:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CTHOADON](
	[ID] [int] NOT NULL,
	[IDSANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CTHOADON_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_HOADON]    Script Date: 5/11/2018 11:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOADON](
	[ID] [int] NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
 CONSTRAINT [PK_TBL_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 5/11/2018 11:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[ID] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [varbinary](11) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[HESOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_TBL_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SANPHAM]    Script Date: 5/11/2018 11:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SANPHAM](
	[ID] [int] NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_TBL_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_TAIKHOAN]    Script Date: 5/11/2018 11:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TAIKHOAN](
	[ID] [int] NOT NULL,
	[TENDANGNHAP] [varbinary](16) NOT NULL,
	[MATKHAU] [varbinary](200) NOT NULL,
 CONSTRAINT [PK_TBL_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TLB_LUONG]    Script Date: 5/11/2018 11:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TLB_LUONG](
	[ID] [int] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[NGAYLAM] [datetime] NOT NULL,
 CONSTRAINT [PK_TLB_LUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TBL_CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTHOADON_TBL_HOADON] FOREIGN KEY([ID])
REFERENCES [dbo].[TBL_HOADON] ([ID])
GO
ALTER TABLE [dbo].[TBL_CTHOADON] CHECK CONSTRAINT [FK_TBL_CTHOADON_TBL_HOADON]
GO
ALTER TABLE [dbo].[TBL_CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTHOADON_TBL_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[TBL_SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[TBL_CTHOADON] CHECK CONSTRAINT [FK_TBL_CTHOADON_TBL_SANPHAM]
GO
ALTER TABLE [dbo].[TLB_LUONG]  WITH CHECK ADD  CONSTRAINT [FK_TLB_LUONG_TBL_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[TBL_NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[TLB_LUONG] CHECK CONSTRAINT [FK_TLB_LUONG_TBL_NHANVIEN]
GO
